<% for student in students %>
	<div class="student-item well ui-droppable" id="student-<%= student.id %>">
		<div class="row">
			<div class="span2">
				<i class="icon-user"></i>
				<h2><%= student.name %></h2>
			</div>
		</div>
		<div class="row">
			<div class="span2" align="center">
				<%= remove_link(student) %>
			</div>
		</div>
		
	</div>
<% end %>