<div class="modal hide" id="studentModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>학생등록하기</h3>
  </div>
  <div class="modal-body">
    <%= render partial: "students/form", locals: { user_class: user_class } %>
  </div>
</div>