<div class="modal hide span4" id="awardModal">
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3>칭찬/꾸지람 하기</h3>
</div>
<div class="modal-body">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">칭찬</a></li>
    <li><a href="#tab2" data-toggle="tab">꾸지람</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1"></div>
    <div class="tab-pane" id="tab2"></div>
  </div>
</div>

