<div class="row" id="avatars">
	<%= render @avatars %>
</div>
<div class="row" id="form">
	<div class="span2">
		<%= link_to "New", new_avatar_path, { remote: true, class: "btn btn-large btn-primary" } %>
	</div>
</div>