@import "bootstrap";

/* universal */
html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
  	mergin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
  	color: #fff;
  	text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
  a {
  	color: #555;
	&:hover {
		color: #222;
	}
  }
  small {
  	float: left;
  }
  ul {
  	float: right;
	list-style: none;
	li {
		float: left;
		margin-left: 10px;
	}
  }
}
@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* miscellaneous */
.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

/* sidebar */
aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.6em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* form */
input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  height: auto;
  margin-bottom: 15px;
  @include box_sizing;
}

#error_explanation {
	color: #f00;
	ul {
		list-style: none;
		margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}

/* users index */
.users {
	list-style: none;
  	margin: 0;
  	li {
    	overflow: auto;
    	padding: 10px 0;
    	border-top: 1px solid $grayLighter;
    	&:last-child {
      		border-bottom: 1px solid $grayLighter;
    	}
  	}		
}

.class_item {
  background: #F9F9F9;
  float: left;
  margin: 20px;
  padding: 12px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  width: 240px;
  border: 1px solid #DDD;
  position: relative;
}

.class_info {
  color: #3C3B27;
  float: left;
  margin-left: 16px;
  margin-top: 16px;
}
.class_title {
  font-size: 16px;
  font-weight: 700;
}

.class_grade {
  font-size: 12px;
}

.student-item {
  width: 100px;
  margin: 20px 10px 10px 10px;
  float: left;
  background-color:#ffffff;
  border:solid 1px #B4BBCD;
  min-height:50px;
  text-align:justify;
  word-wrap:break-word; 
}

@media (max-width: 480px) {
  .modal {
      height: 500px; /* Set a default max height of the modal (adjusted later)*/
      position: fixed; /* Display modal in the centre of your screen */
      overflow-y: scroll; /*  Ensure that the modal is scroll-able */
      -webkit-overflow-scrolling: touch; /* Avoid having to use 2 finger scroll on iOS    */
  }
  .modal.fade.in{
      top: 5px; /* Use more screen real estate */
  }
  .modal-body{
      /* Increase the max height of the modal body to try & avoid both it,
       * and the modal container having scroll bars which results in odd behavior */ 
      max-height: 2400px; 
  }   
}

/* Now adjust the height so it handles various screen sizes & orientations */
/* You could make this as granular as you like, or have it more granular at common screen sizes
 * but it should start at the height we set on .modal (i.e. 500px) & work down */
@media (max-width: 480px) and (max-height: 500px){.modal{ height: 450px}}
@media (max-width: 480px) and (max-height: 450px){.modal{ height: 400px}}
@media (max-width: 480px) and (max-height: 400px){.modal{ height: 350px}}
@media (max-width: 480px) and (max-height: 350px){.modal{ height: 300px}}
@media (max-width: 480px) and (max-height: 300px){.modal{ height: 250px}}
@media (max-width: 480px) and (max-height: 250px){.modal{ height: 200px}}
@media (max-width: 480px) and (max-height: 200px){.modal{ height: 150px}}