<footer class="footer">
  <small>
    <%= link_to "Teacher Note", '#' %>shom83@gmail.com
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "Repo", '#' %></li>
    </ul>
  </nav>
</footer>
